[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "geostab"
version = "0.1.0"

[tool.setuptools.packages.find]
where = ["src"]

[tool.pytest.ini_options]
pythonpath = ["src"]